{% assign current_lang = page.lang | default: site.languages.default %}
{% assign t = site.data.locales[current_lang] %}
{% assign projects_only = site.pages | where: 'type', 'project' | where: 'lang', current_lang %}
{% assign articles_only = site.pages | where: 'type', 'article' | where: 'lang', current_lang %}

<div class="profile">
  {% if site.author.avatar and site.author.avatar != '' %}
    <img class="profile-photo" src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }} {{ t.accessibility.profile_photo_suffix }}">
  {% endif %}

  <div>
    {% if site.author.name and site.author.name != '' %}
      <h1>{{ site.author.name }}</h1>
    {% endif %}

    {% if site.author.role != '' or site.author.education != '' or site.author.location != '' %}
      <p>
        {% if site.author.role and site.author.role != '' %}
          <b>{{ site.author.role }}</b><br>
        {% endif %}

        {% if site.author.education and site.author.education != '' %}
          <b>{{ site.author.education }}</b><br>
        {% endif %}

        {% if site.author.location and site.author.location != '' %}
          <b>{{ site.author.location }}</b>
        {% endif %}
      </p>
    {% endif %}

    {% if site.author.email and site.author.email != '' %}
      <p class="small"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
    {% endif %}
  </div>
</div>

<h2 class="section-title no-rule">{{ t.home.about_title }}</h2>
<div class="about-text">
  {% for paragraph in t.about %}
    <p>{{ paragraph }}</p>
  {% endfor %}
</div>

{% if projects_only.size > 0 %}
  <h2 class="section-title">Selected Projects</h2>

  <div class="featured-projects">
    {% assign projects = projects_only | sort: 'date' | reverse %}

    {% for project in projects limit: 3 %}
      {% include featured-project.html item=project %}
    {% endfor %}
  </div>
{% endif %}
